{% extends "LLPlatformBundle::layout.html.twig" %}

{% block title %}
    Ajouter un article - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Ajouter un article</h2>

    {{ include("LLPlatformBundle:Article:form.html.twig") }}

    <p>
        Attention : cet article sera ajouté directement
        sur la page d'accueil après validation du formulaire.
    </p>

{% endblock %}