<ul class="nav nav-pills nav-stacked">
    {% for article in listArticles %}
        <li>
            <a href="{{ path('ll_platform_view', {'id': article.id}) }}">
                {{ article.title }}
            </a>
        </li>
    {% endfor %}
</ul>